@charset "utf-8";
@import "settings";
@import url("https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8");


#welcome{
  background: url("../img/ggg.jpg") no-repeat center bottom / cover;

  &>.wr{
    min-height: 815px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-content: space-between;

    header{
      padding-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media($md){
        padding-top: 25px;
      }


      &>.col-1{
        width: 228px;
        margin-right: 62px;

        @include media($md){
          margin-right: 0;
        }

      }
      &>.col-2{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .menu{
          display:none;
          cursor: pointer;

          @include media($md){
            display:block;
          }

          svg{
            width: 25px; height: 25px;
            fill: white;
          }
        }
        .menu-cont{
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          @include media($md){
            display: none;
            position: fixed;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: white;


          }

          .close{
            display: none;

            @include media($md){
              display:block;
              position: absolute;
              right: 20px;
              top: 20px;

              svg{
                width: 25px;
                height: 25px;
                fill: $grayDark;

                &:hover{
                  fill: $orange;
                }
              }

            }

          }
          nav{
            display: flex;
            margin-right: 80px;

            @include media($md){
              margin-right: 0;
              flex-direction: column;
            }

            a{
              display: inline-block;
              text-decoration: none;
              color: rgba(white, 0.5);
              font-size: 12px;
              font-weight: 700;
              line-height: 36px;
              text-transform: uppercase;
              margin-right: 30px;

              &:hover, &.active{
                color: white;
              }

              &:last-of-type{margin-right: 0;}
              @include media($md){
                display:block;
                margin-right: 0;
                margin-bottom: 10px;
                color:rgba($grayDark, 0.5);
                text-align: center;
                font-size: 16px;

                &:hover, &.active{
                  color: $grayDark;
                }
              }
            }
          }
          .lang{
            position: relative;
            margin-right: 35px;

            @include media($md){
              display: flex;
              margin: 20px 0;

            }

            a{
              font-size: 14px;
              font-weight: 500;
              line-height: 36px;
              text-transform: uppercase;
              text-decoration: none;


              &:hover{
                color: $orange;

                svg{
                  fill: $orange;
                }
              }
            }
            .curr{
              display:flex;
              align-items: center;
              //grid-gap: 5px;
              color: #ffffff;

              @include media($md){
                color: $orange;
              }

              svg{
                width: 8px;
                height: 8px;
                fill: white;
                margin-left: 5px;

                @include media($md){
                  fill: $orange;
                  transform: rotate(-90deg);
                }
              }
            }
            .list{
              display: none;
              position: absolute;
              padding: 5px 10px;
              background: white;

              @include media($md){
                display: inline-flex;
                position: relative;
                padding: 0;
              }


              a{
                display:block;
                color: $grayDark;

                @include media($md){
                  margin: 0 5px;

                  &:last-of-type{
                    margin-right: 0;
                  }
                }

                &:hover{
                  color: $orange;
                }
              }
            }

          }
          .sign{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 163px;
            height: 53px;
            background-color: #ffffff;
            color: #282828;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 50px;
            transition: all 0.3s ease;

            &:hover{
              background-image: linear-gradient(to right, #dd4026 0%, #f4a332 100%);
              color:#ffffff ;
            }
          }

        }

      }


    }
    .center{
      margin: 0 auto;
      max-width: 565px;
      text-align: center;

      h1{
        color: #ffffff;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        margin: 0 0 30px 0;

      }
      a{
        display: inline-flex;
        align-items: center;
        height: 53px;
        color:white;
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
        padding: 0 35px;
        text-decoration: none;
        background-image: linear-gradient(to right, #dd4026 0%, #f4a332 100%);
        border-radius: 25px;
      }
    }
  }

}
#line-2{
  margin-top: -155px;


  &>ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 29px;

    li{
      background:white;
      box-sizing: border-box;
      padding: 40px 40px 50px;
      box-shadow: 0 5px 70px rgba(40, 34, 26, 0.25);

      h3{
        color: $grayDark;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 11px 0;
      }
      .text{
        color: $grayLight;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
      .btns{
        margin-top: 21px;
        display: flex;
        align-items: center;

        a:first-of-type{
          display: flex;
          align-items: center;
          padding: 0 29px 0 25px;
          height: 47px;
          color: white;
          font-size: 14px;
          font-weight: 700;
          line-height: 36px;
          text-transform: uppercase;
          text-decoration: none;
          background-color: $orange;
          border-radius: 25px;
          margin-right: 24px;
        }
        a:last-of-type{
          color: $grayDark;
          font-size: 14px;
          font-weight: 700;
          line-height: 36px;
          text-decoration: none;
        }

      }
      &:hover, &.active{
        background: $orange;

        h3{
          color: white;
        }
        .text{
          color: white;
        }
        a:first-of-type{
          color: $grayDark;
          background-color: white;
        }
        a:last-of-type{
          color: white;
        }
      }

    }
  }
}
#line-3{
  padding: 100px 0 118px 0;

  h2{
    color: $grayDark;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: center;
  }
  .text-1{
    color: $grayLight;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  ul{
    @extend %ul;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    margin-top: 65px;

    @include media($md){
      grid-template-columns: repeat(2, 1fr);
    }
    @include media($xs){
      grid-template-columns: 1fr;
    }
    li{
      &:before{
        content: '';
        display:block;
        width: 34px;
        height: 34px;
        border: 8px solid #f3a032;
        border-radius: 50%;
        box-sizing: border-box;
        margin-bottom: 30px;

        @include media($xs){
          margin: 0 auto 30px auto;
        }

      }
      .text{
        color: $grayLight;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
      }
    }
  }

}
#line-4{
  background-color: #f6f6f6;
  padding: 100px 0 118px 0;

  h2{
    margin-bottom: 10px;
  }

  .text-1{
    color: $grayLight;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

  }
  ul{
    @extend %ul;
    margin-top: 114px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    //justify-content: space-between;
    grid-gap: 25px;



    li{
      a{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 173px;
        box-shadow: 0 10px 45px rgba(40, 34, 26, 0.15);
        text-decoration: none;
        color: $grayDark;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover, &.active{
          background-color: $orange;
          color: white;
        }
      }
    }
  }
}
#line-5{
  display: grid;
  grid-template-columns: 10% minmax(320px, $lg) 10%;
  grid-template-rows: minmax(100vh, auto);
  justify-content: center;
  align-items: center;

  @include media($xs){
    grid-template-columns: minmax(320px, $lg);
  }


  &>.col-1{
    grid-column: 2 / span 1;
    padding: 118px 15px 72px;
    box-sizing: border-box;

    @include media($xs){
      grid-column: 1;
      padding: 60px 15px 35px;
    }

    ul{
      @extend %ul;

      &>div{
        display: flex !important;
        align-items: center;
      }

      li{
        display: grid;
        grid-template-columns: minmax(100px, 529px) minmax(100px, 486px);
        grid-gap: 20px;
        align-items: center;
        justify-content: space-between;
        justify-items: end;

        @include media($xs){
          grid-template-columns: minmax(320px, 529px);
        }

        h3{
          color: $grayDark;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
          margin: 0 0 25px 0;
        }
        .text{
          color: $grayLight;
          font-size: 18px;
          font-weight: 400;
          line-height: 36px;
          margin-bottom: 15px;
        }
        .more{
          margin-bottom: 40px;

          a{
            color: $orange;
            font-size: 14px;
            font-weight: 700;
            line-height: 36px;
            text-transform: uppercase;

            &:hover{
              color: darken($orange, 5%);
            }
          }
        }
        .forImg{
          max-width: 100%;
        }
        .btns{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(198px, auto));
          grid-gap: 20px;
          justify-content: flex-start;

          @include media($xs){
            justify-content: center;

          }

          a{
            opacity: 0.5;
            transition: all 0.3s ease;

            img{
              max-width: 100%;
            }
            
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &>.col-2{
    text-align: right;
    //padding-left: 109px;

    @include media($xs){
      display: none;
    }

    button{
      background: none;
      border: 0;
      outline: none;
      cursor: pointer;

      svg{
        width: 24px;
        height: 41px;
        fill: #d3d3d3;
      }
    }
  }
}
#line-6{
  padding: 150px 0;
  background: #f6f6f6;

  h2{
    color: $grayDark;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 15px;
  }
  .text-1{
    max-width: 620px;
    color: $grayLight;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }
  ul{
    @extend %ul;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 54px 35px;
    margin-top: 85px;

    @include media($xs){
      grid-template-columns: 100%;

    }

    li{
      display: flex;
      align-items: flex-start;

      svg{
        width: 31px;
        height: 32px;
        fill: $orange;
        margin-right: 25px;
      }
      .text{
        flex: 1;
        color: $grayLight;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
      }
    }
  }
}
#line-7{
  position: relative;
  padding: 100px 0 150px 0;
  background: url("../img/publishers.jpg") no-repeat center / cover;

  &:before{
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($grayDark, 0.9);
  }
  &>.wr{
    position: relative;
    text-align: center;

    h2{
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      margin: 0 0 25px 0;
    }
    .text-1{
      margin: 0 auto 126px auto;
      max-width: 745px;
      color: $grayLight;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
    }
    svg{
      width: 64px;
      height: 64px;
      fill: #fff;
      cursor: pointer;
      opacity: 0.7;

      &:hover{
        opacity: 1;
      }
    }
  }

}
#line-8{
  padding: 125px 0;
  text-align: center;

  h2{
    color: $grayDark;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 35px 0;
  }
  .text-1{
    max-width: 766px;
    color: $grayLight;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 121px;
  }
  ul{
    @extend %ul;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
    //justify-items: center;
    grid-gap: 50px 27px;

    @include media($xs){
      grid-template-columns: 100%;
      justify-items: center;
    }

    li{
      display: flex;
      a{
        display: block;
        padding-bottom: 25px;
        border-bottom: 4px solid transparent;
        text-decoration: none;
        color: $grayDark;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        
        &:hover, &.active{
          border-color: $orange;
        }
        img{
          width: 120px;
          height: 120px;
          object-fit: contain;
          text-align: center;
        }
      }
    }

  }
}
#line-9{
  padding: 100px 0;
  background: url("../img/map.png") no-repeat center / cover;

  ul{
    list-style: none;
    max-width: 945px;
    margin: 0 auto;
    background: white;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    li{
      margin-bottom: 30px;

      &:last-of-type{
        margin-bottom: 0;
      }
      .text{
        font-weight: 700;
        line-height: 48px;
        color: #b0b0b0;
        font-size: 18px;
      }
      a{
        display:block;
        text-decoration: none;
        color: $grayDark;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
      }
    }

  }
}
footer{
  padding: 84px 0 57px;
  text-align: center;

  .copy{
    margin: 0 auto;
    max-width: 655px;
    color: $grayLight;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;

    a{
      text-decoration: none;
      color: $grayDark;
    }
  }
  .soc{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      display: block;
      text-decoration: none;
      color: $grayLight;
      font-size: 20px;
      margin-right: 30px;

      &:last-of-type{
        margin-right: 0;}

    }
  }
}
