@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900&subset=cyrillic");
#line-3 ul, #line-4 ul, #line-5 > .col-1 ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif; }

.wr {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box; }

.h2 {
  color: #282828;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  text-align: center; }

#welcome {
  background: url("../img/ggg.jpg") no-repeat center bottom/cover; }
  #welcome > .wr {
    min-height: 815px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-content: space-between; }
    #welcome > .wr header {
      padding-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 768px) {
        #welcome > .wr header {
          padding-top: 25px; } }
      #welcome > .wr header > .col-1 {
        width: 228px;
        margin-right: 62px; }
        @media (max-width: 768px) {
          #welcome > .wr header > .col-1 {
            margin-right: 0; } }
      #welcome > .wr header > .col-2 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        #welcome > .wr header > .col-2 .menu {
          display: none;
          cursor: pointer; }
          @media (max-width: 768px) {
            #welcome > .wr header > .col-2 .menu {
              display: block; } }
          #welcome > .wr header > .col-2 .menu svg {
            width: 25px;
            height: 25px;
            fill: white; }
        #welcome > .wr header > .col-2 .menu-cont {
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center; }
          @media (max-width: 768px) {
            #welcome > .wr header > .col-2 .menu-cont {
              display: none;
              position: fixed;
              flex-direction: column;
              justify-content: center;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              background: white; } }
          #welcome > .wr header > .col-2 .menu-cont .close {
            display: none; }
            @media (max-width: 768px) {
              #welcome > .wr header > .col-2 .menu-cont .close {
                display: block;
                position: absolute;
                right: 20px;
                top: 20px; }
                #welcome > .wr header > .col-2 .menu-cont .close svg {
                  width: 25px;
                  height: 25px;
                  fill: #282828; }
                  #welcome > .wr header > .col-2 .menu-cont .close svg:hover {
                    fill: #f39e31; } }
          #welcome > .wr header > .col-2 .menu-cont nav {
            display: flex;
            margin-right: 80px; }
            @media (max-width: 768px) {
              #welcome > .wr header > .col-2 .menu-cont nav {
                margin-right: 0;
                flex-direction: column; } }
            #welcome > .wr header > .col-2 .menu-cont nav a {
              display: inline-block;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.5);
              font-size: 12px;
              font-weight: 700;
              line-height: 36px;
              text-transform: uppercase;
              margin-right: 30px; }
              #welcome > .wr header > .col-2 .menu-cont nav a:hover, #welcome > .wr header > .col-2 .menu-cont nav a.active {
                color: white; }
              #welcome > .wr header > .col-2 .menu-cont nav a:last-of-type {
                margin-right: 0; }
              @media (max-width: 768px) {
                #welcome > .wr header > .col-2 .menu-cont nav a {
                  display: block;
                  margin-right: 0;
                  margin-bottom: 10px;
                  color: rgba(40, 40, 40, 0.5);
                  text-align: center;
                  font-size: 16px; }
                  #welcome > .wr header > .col-2 .menu-cont nav a:hover, #welcome > .wr header > .col-2 .menu-cont nav a.active {
                    color: #282828; } }
          #welcome > .wr header > .col-2 .menu-cont .lang {
            position: relative;
            margin-right: 35px; }
            @media (max-width: 768px) {
              #welcome > .wr header > .col-2 .menu-cont .lang {
                display: flex;
                margin: 20px 0; } }
            #welcome > .wr header > .col-2 .menu-cont .lang a {
              font-size: 14px;
              font-weight: 500;
              line-height: 36px;
              text-transform: uppercase;
              text-decoration: none; }
              #welcome > .wr header > .col-2 .menu-cont .lang a:hover {
                color: #f39e31; }
                #welcome > .wr header > .col-2 .menu-cont .lang a:hover svg {
                  fill: #f39e31; }
            #welcome > .wr header > .col-2 .menu-cont .lang .curr {
              display: flex;
              align-items: center;
              color: #ffffff; }
              @media (max-width: 768px) {
                #welcome > .wr header > .col-2 .menu-cont .lang .curr {
                  color: #f39e31; } }
              #welcome > .wr header > .col-2 .menu-cont .lang .curr svg {
                width: 8px;
                height: 8px;
                fill: white;
                margin-left: 5px; }
                @media (max-width: 768px) {
                  #welcome > .wr header > .col-2 .menu-cont .lang .curr svg {
                    fill: #f39e31;
                    transform: rotate(-90deg); } }
            #welcome > .wr header > .col-2 .menu-cont .lang .list {
              display: none;
              position: absolute;
              padding: 5px 10px;
              background: white; }
              @media (max-width: 768px) {
                #welcome > .wr header > .col-2 .menu-cont .lang .list {
                  display: inline-flex;
                  position: relative;
                  padding: 0; } }
              #welcome > .wr header > .col-2 .menu-cont .lang .list a {
                display: block;
                color: #282828; }
                @media (max-width: 768px) {
                  #welcome > .wr header > .col-2 .menu-cont .lang .list a {
                    margin: 0 5px; }
                    #welcome > .wr header > .col-2 .menu-cont .lang .list a:last-of-type {
                      margin-right: 0; } }
                #welcome > .wr header > .col-2 .menu-cont .lang .list a:hover {
                  color: #f39e31; }
          #welcome > .wr header > .col-2 .menu-cont .sign {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 163px;
            height: 53px;
            background-color: #ffffff;
            color: #282828;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 50px;
            transition: all 0.3s ease; }
            #welcome > .wr header > .col-2 .menu-cont .sign:hover {
              background-image: linear-gradient(to right, #dd4026 0%, #f4a332 100%);
              color: #ffffff; }
    #welcome > .wr .center {
      margin: 0 auto;
      max-width: 565px;
      text-align: center; }
      #welcome > .wr .center h1 {
        color: #ffffff;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        margin: 0 0 30px 0; }
      #welcome > .wr .center a {
        display: inline-flex;
        align-items: center;
        height: 53px;
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
        padding: 0 35px;
        text-decoration: none;
        background-image: linear-gradient(to right, #dd4026 0%, #f4a332 100%);
        border-radius: 25px; }

#line-2 {
  margin-top: -155px; }
  #line-2 > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 29px; }
    #line-2 > ul li {
      background: white;
      box-sizing: border-box;
      padding: 40px 40px 50px;
      box-shadow: 0 5px 70px rgba(40, 34, 26, 0.25); }
      #line-2 > ul li h3 {
        color: #282828;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 11px 0; }
      #line-2 > ul li .text {
        color: #7d7d7d;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }
      #line-2 > ul li .btns {
        margin-top: 21px;
        display: flex;
        align-items: center; }
        #line-2 > ul li .btns a:first-of-type {
          display: flex;
          align-items: center;
          padding: 0 29px 0 25px;
          height: 47px;
          color: white;
          font-size: 14px;
          font-weight: 700;
          line-height: 36px;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #f39e31;
          border-radius: 25px;
          margin-right: 24px; }
        #line-2 > ul li .btns a:last-of-type {
          color: #282828;
          font-size: 14px;
          font-weight: 700;
          line-height: 36px;
          text-decoration: none; }
      #line-2 > ul li:hover, #line-2 > ul li.active {
        background: #f39e31; }
        #line-2 > ul li:hover h3, #line-2 > ul li.active h3 {
          color: white; }
        #line-2 > ul li:hover .text, #line-2 > ul li.active .text {
          color: white; }
        #line-2 > ul li:hover a:first-of-type, #line-2 > ul li.active a:first-of-type {
          color: #282828;
          background-color: white; }
        #line-2 > ul li:hover a:last-of-type, #line-2 > ul li.active a:last-of-type {
          color: white; }

#line-3 {
  padding: 100px 0 118px 0; }
  #line-3 h2 {
    color: #282828;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: center; }
  #line-3 .text-1 {
    color: #7d7d7d;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }
  #line-3 ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    margin-top: 65px; }
    @media (max-width: 768px) {
      #line-3 ul {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 520px) {
      #line-3 ul {
        grid-template-columns: 1fr; } }
    #line-3 ul li:before {
      content: '';
      display: block;
      width: 34px;
      height: 34px;
      border: 8px solid #f3a032;
      border-radius: 50%;
      box-sizing: border-box;
      margin-bottom: 30px; }
      @media (max-width: 520px) {
        #line-3 ul li:before {
          margin: 0 auto 30px auto; } }
    #line-3 ul li .text {
      color: #7d7d7d;
      font-size: 18px;
      font-weight: 400;
      line-height: 36px; }

#line-4 {
  background-color: #f6f6f6;
  padding: 100px 0 118px 0; }
  #line-4 h2 {
    margin-bottom: 10px; }
  #line-4 .text-1 {
    color: #7d7d7d;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }
  #line-4 ul {
    margin-top: 114px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    grid-gap: 25px; }
    #line-4 ul li a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 173px;
      box-shadow: 0 10px 45px rgba(40, 34, 26, 0.15);
      text-decoration: none;
      color: #282828;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase; }
      #line-4 ul li a:hover, #line-4 ul li a.active {
        background-color: #f39e31;
        color: white; }

#line-5 {
  display: grid;
  grid-template-columns: 10% minmax(320px, 1200px) 10%;
  grid-template-rows: minmax(100vh, auto);
  justify-content: center;
  align-items: center; }
  #line-5 > .col-1 {
    grid-column: 2 / span 1;
    padding: 118px 15px 72px;
    box-sizing: border-box; }
    #line-5 > .col-1 ul > div {
      display: flex !important;
      align-items: center; }
    #line-5 > .col-1 ul li {
      display: grid;
      grid-template-columns: minmax(320px, 529px) minmax(320px, 486px);
      align-items: center;
      justify-content: space-between; }
      #line-5 > .col-1 ul li h3 {
        color: #282828;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        margin: 0 0 25px 0; }
      #line-5 > .col-1 ul li .text {
        color: #7d7d7d;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 15px; }
      #line-5 > .col-1 ul li .more a {
        color: #f39e31;
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase; }
        #line-5 > .col-1 ul li .more a:hover {
          color: #f29319; }
      #line-5 > .col-1 ul li .forImg {
        max-width: 100%; }
  #line-5 > .col-2 {
    padding-left: 109px; }
    #line-5 > .col-2 button {
      background: none;
      border: 0;
      outline: none;
      cursor: pointer; }
      #line-5 > .col-2 button svg {
        width: 24px;
        height: 41px;
        fill: #d3d3d3; }

/*# sourceMappingURL=main.css.map */
