@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');

$grayDark: #282828;
$grayLight: #767676;
$orange: #f3a032;

%ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.wr{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}