@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic");
#line-2 ul {
  list-style: none;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif; }

.wr {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

#welcome {
  background: url("../img/welcome-bg.jpg") no-repeat center bottom/cover; }
  #welcome > .wr {
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-content: space-between;
    min-height: 815px; }
    #welcome > .wr header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 50px; }
      #welcome > .wr header .logo {
        width: 228px;
        display: block; }
        #welcome > .wr header .logo img {
          max-width: 100%; }
      #welcome > .wr header > .col-2 .menu-btn svg {
        width: 25px;
        height: 25px;
        fill: white;
        cursor: pointer; }
      #welcome > .wr header > .col-2 .menu-cont {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #welcome > .wr header > .col-2 .menu-cont > .col-1 {
          display: flex;
          margin-right: 105px;
          align-items: center;
          transform: translateY(-2px); }
          #welcome > .wr header > .col-2 .menu-cont > .col-1 a {
            display: block;
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 25px; }
            #welcome > .wr header > .col-2 .menu-cont > .col-1 a:last-of-type {
              margin-right: 0; }
            #welcome > .wr header > .col-2 .menu-cont > .col-1 a:hover, #welcome > .wr header > .col-2 .menu-cont > .col-1 a.active {
              color: white; }
        #welcome > .wr header > .col-2 .menu-cont > .col-2 {
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          grid-gap: 34px; }
          #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont {
            position: relative; }
            #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont .cur {
              display: flex;
              align-items: center;
              color: #fff;
              font-size: 14px;
              font-weight: 500;
              text-transform: uppercase;
              cursor: pointer; }
              #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont .cur svg {
                width: 7px;
                height: 7px;
                fill: white;
                margin-left: 5px; }
            #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont .items {
              display: none;
              position: absolute;
              padding: 10px;
              background: white; }
              #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont .items a {
                display: block;
                font-size: 14px;
                color: #282828;
                text-decoration: none;
                margin-bottom: 5px; }
                #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont .items a:last-of-type {
                  margin-bottom: 0; }
                #welcome > .wr header > .col-2 .menu-cont > .col-2 .lang-cont .items a:hover {
                  color: #f3a032; }
          #welcome > .wr header > .col-2 .menu-cont > .col-2 .sign {
            display: inline-flex;
            align-items: center;
            height: 53px;
            background-color: white;
            color: #282828;
            font-size: 14px;
            font-weight: 700;
            line-height: 36px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0 55px;
            border-radius: 30px; }
            #welcome > .wr header > .col-2 .menu-cont > .col-2 .sign:hover {
              color: white;
              background-image: linear-gradient(to right, #dd4026 0%, #f4a332 100%); }
    #welcome > .wr .center-line {
      max-width: 562px;
      margin: 0 auto;
      text-align: center; }
      #welcome > .wr .center-line h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        margin: 0 0 25px; }
      #welcome > .wr .center-line .forBtn a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 212px;
        height: 53px;
        background: linear-gradient(to right, #dd4026 0%, #f4a332 100%);
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 25px;
        opacity: 0.9;
        transition: all 0.3s ease; }
        #welcome > .wr .center-line .forBtn a:hover {
          opacity: 1; }

#line-2 ul {
  margin: -141px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 30px; }
  #line-2 ul li {
    background: white;
    box-shadow: 0 5px 70px rgba(40, 34, 26, 0.25);
    padding: 50px 80px 50px 40px; }
    #line-2 ul li h3 {
      color: #282828;
      font-size: 30px;
      font-weight: 700;
      margin: 0 0 24px 0; }
    #line-2 ul li .text {
      color: #7d7d7d;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 24px; }
    #line-2 ul li .btns {
      display: flex;
      align-items: center; }
      #line-2 ul li .btns a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; }
        #line-2 ul li .btns a:first-of-type {
          width: 123px;
          height: 48px;
          background-color: #f3a032;
          border-radius: 25px;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          line-height: 36px;
          text-transform: uppercase;
          margin-right: 20px; }
        #line-2 ul li .btns a:last-of-type {
          color: #282828;
          font-size: 14px;
          font-weight: 700; }
    #line-2 ul li:hover, #line-2 ul li.active {
      background: #f3a032; }
      #line-2 ul li:hover h3, #line-2 ul li.active h3 {
        color: white; }
      #line-2 ul li:hover .text, #line-2 ul li.active .text {
        color: white; }
      #line-2 ul li:hover a:first-of-type, #line-2 ul li.active a:first-of-type {
        background: white !important;
        color: #282828 !important; }
      #line-2 ul li:hover a:last-of-type, #line-2 ul li.active a:last-of-type {
        color: white; }

/*# sourceMappingURL=main.css.map */
